.form-game-detail ul{
    list-style: disc;
}
.form-game-detail ol{
    list-style: decimal;
}
.form-game-detail {
    line-height: 1.8;
}
.form-game-detail blockquote {
    border-left: 6px solid #df0d32;
}