#set($page_title="user_list")
<style>
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}
</style>
<div class="container">
    <div class="row">
        <h1 class="text-center">注册用户列表</h1>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                	<th>序号</th>
                    <th>用户名</th>
                    <th>邮箱</th>
                    <th>手机</th>
                </tr>
                </thead>
                <tbody>
                #foreach($user in $userList)
                <tr>
                    <td>$velocityCount</td>
                    <td>$user.username</td>
                  	<td>$user.email</td>
                  	<td>$user.phone</td>
                </tr>
                #end
                </tbody>
            </table>
          
	</div>
    </div>
</div>
