<!DOCTYPE HTML>
<html>
	<head>
	 	<title>$!page_title</title>
	 	<meta charset="utf-8">
	 	
	    <link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
	    <script type="text/javascript" src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
	
	</head>
	<style>
	body{
		font-family: 'Courgette', cursive;
	}

	</style>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" style="margin: 0px" >
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li><a id="menu-toggle" href="#">@</a></li>
            </ul>
          
            <a class="navbar-brand" href="/" style="font-size: 30px;">HITWH-ACM</a>
        </div>
		
    #set($username=$session.getAttribute("login"))
 	<div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/games.html">赛事列表</a></li>
          <li><a href="/game.html">创建赛事</a></li>
          <li><a href="/register">register</a></li>
          #if($username)
          	<li><a href="/logout">logout</a></li>
          #else
           	<li><a href="/login">login</a></li>
          #end
        </ul>
	</div>

        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div  style="margin: 0px" class="toggled">

   	<div class="container">  $screen_content   </div>
	 
	
  
</div>

</body>
</html>
